<table >
	<tr>
		<th>Name :</th>
		<th>price :</th>
		<th>Actions</th>
	</tr>
	<% @sellers.each do |seller|%>
		<tr>
			<td><%=seller.id%></td>
			<td><%=seller.name%></td>
		    <td><%=seller.price%></td>
		    <td><%= link_to "Show", seller %></td>
		    <td><%= link_to "Edit", edit_seller_path(seller) %>

		    </td>
		    <td><%= link_to "Destroy", seller, method: :delete , data: {confirm: "are you sure ? you want to destroy #{seller.name}"}%></td>
		    <td>
		    	<%=link_to "view addresses", seller_addresses_path(seller)%>

		    </td>
		</tr>
	<%end%>

</table>
<br/>